* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-image: url("image.jpg");
    background-size: cover;
    background-position: center;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
}

.subtitle {
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    margin: 8px 0;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    max-width: 400px;
}


